html {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: deepskyblue;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  max-width: 1440px;
  margin: 50px auto;
}

.title {
  font-size: 5rem;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.wrapper-play-block {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.input-play {
  font-size: 2.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #bbe2f8;
  padding: 10px 15px;
}

.button-play {
  transition: 0.2s all;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #5656e3;
  &:hover {
    background-color: #1a1adc;
  }
}

.xylophone {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.xylophone-note-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  position: relative;
}

.xylophone-note {
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.05s all;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 90px;
  height: 350px;
  -webkit-box-shadow: 4px 4px 13px 0px rgba(34, 60, 80, 0.49);
  -moz-box-shadow: 4px 4px 13px 0px rgba(34, 60, 80, 0.49);
  box-shadow: 4px 4px 13px 0px rgba(34, 60, 80, 0.49);
  transform-origin: center center;
}

.xylophone-note-label {
  cursor: pointer;
  font-size: 1.2rem;
  color: #fff;
  background-color: #4e1a2d;
  text-align: center;
  padding: 7px 15px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 13px 0px rgba(34, 60, 80, 0.49);
  -moz-box-shadow: 4px 4px 13px 0px rgba(34, 60, 80, 0.49);
  box-shadow: 4px 4px 13px 0px rgba(34, 60, 80, 0.49);
}

.xylophone-note-input {
  display: none;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 40px;
  height: 27px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #4e1a2d;
}

.active {
  border: 2px solid black;
  transform: scaleY(1.03);
}